<div class="row">
    <div class="col-3">
        <app-side-filter [filterTitle]="'SEARCH CUSTOMER'"></app-side-filter>
    </div>
    <div class="col-9">
        <table class="e-table table table-bordered">
            <thead>
              <tr class="table-title">
                <th class="col-2">Customer ID</th>
                <th class="col-2">First Name</th>
                <th class="col-2">Second Name</th>
                <th class="col-2">Last Name</th>
                <th class="col-2">Role</th>
                <th class="col-2">ID Number</th>
              </tr>
            </thead>
            <tbody class="table-body">
              <tr>
                <th>306789</th>
                <td>Mert</td>
                <td>Metin</td>
                <td>Özkan</td>
                <td>Customer</td>
                <td>2314324</td>
              </tr>
              <tr>
                <th></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
    </div>
    </div>
   


  <router-outlet></router-outlet>
<!-- 
<br>
<br>
<div class="e-form-container">
    <p class="e-form-text">Please your enter Username and password to login</p>
    <form>
        <div class="form-group">
            <input type="text" class="e-input" placeholder="Username" />
        </div>
        <div class="form-group">
            <input type="password" class="e-input" placeholder="Password" />
        </div>
        <div class="form-check d-flex justify-content-between mb-4">    
            <div>
                <input type="checkbox" class="form-check-input e-check" id="exampleCheck1" />
                <label class="form-check-label e-check-label"  for="exampleCheck1">Remember Me</label>   
            </div>   
            <div>
                <a class="e-forgot-password">Forgot password?</a> 
            </div>      

        </div>
        <button type="submit" class="btn btn-primary e-btn">LOG IN</button>
    </form>

</div>

<router-outlet></router-outlet> -->